$button-square-inactive-text: #000000;
$button-round: gold;
$button-square: gold;
$button-round-disabled: #F4CC61;
$button-square-normal: #F4CC61;
$button-square-goldcheck: #F4CC61;
$button-square-hoverlight: #F4CC61;
$button-square-clickdark: #F4CC61;
$button-round-filled: #4C4F53;
$button-square-normal-text: #4C4F53;
$button-square-check: #4C4F53;
$button-square-grey: #4C4F53;
$button-square-inactive: white;
$button-square-hovergold2: #F5D67C;
$button-square-normal-hover: #717271;
$button-square-hover: #8D7E53;
$button-square-click: #BEA04B;
$button-square-inactive-white: #BCBFC7;
$button-square-goldlight: #F0D77C;
$button-square-silver: #8C8155;
$button-square-golddark: darkgoldenrod;
$button-square-inactive-lightgrey: lightgrey;
